@model IEnumerable<PinkGarage.Models.ParkedVehicle>

@{
    ViewBag.Title = "Check out";
}


<h3 class="pinkheader">Checkout</h3>

@using (Html.BeginForm())
{
    <p>
        Registration number: @Html.TextBox("regnum")
        <input type="submit" value="Fetch Details" />
    </p>
}

<hr />
<h4><i>Details of the Vehicle @ViewBag.VehicleRegNum</i></h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EngineType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfWheels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EngineType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckInTime)
        </td>
        <td>
            @Html.ActionLink("Check Out", "Receipt", new { id = item.ID })
        </td>
    </tr>
}

</table>
