@model IEnumerable<PinkGarage.Models.ParkedVehicle>

<h2>Checkout</h2>

@using (Html.BeginForm())
{
    <p>Enter the Registration number: @Html.TextBox("regnum")</p>
    <input type="submit" value="Fetch Details" />
} 

<h4>Details of the Vehicle @ViewBag.VehicleRegNum</h4>

@foreach (var item in Model)
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RegNum)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.RegNum)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Type)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.EngineType)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.EngineType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Color)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Brand)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Brand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumOfWheels)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.NumOfWheels)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.CheckInTime)
            </dd>

        </dl>
    </div>

    @Html.ActionLink("CheckOut", "Delete", new { id = item.Id })

}

