@model PinkGarage.Models.ParkedVehicle

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="dl-horizontal">
       <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt>
            Checkouttime
        </dt>

        <dd>
            @DateTime.Now

        </dd>
        <dt>
            Some Maths
        </dt>
        <dd>
            @{

                TimeSpan timePared = DateTime.Now - Model.CheckInTime;

                double checkQuarters = Math.Ceiling(timePared.TotalMinutes / 15); // Check how many started 15-minutes period you have been parked

                double totalCosts = checkQuarters * 25;

            }
            You have been parked for @Math.Ceiling(timePared.TotalMinutes) minutes and @checkQuarters started 15-minutes period.

        </dd>
        <dt>Your parking fee is</dt>
        <dd>@totalCosts svKr;</dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Stay parked", "Index")

    @using(Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Check Out" class="btn btn-default" /> 
        </div>
    }
</p>
