@model PinkGarage.Models.ParkedVehicle

@{
    ViewBag.Title = "Receipt";
}

<h2>Receipt</h2>

<div>
    <h4>Parking fee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfWheels)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfWheels)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            Checkouttime
        </dt>

        <dd>
            @DateTime.Now


            @{

                TimeSpan timePared = DateTime.Now - Model.CheckInTime;

                double totalCosts = Math.Ceiling(timePared.TotalMinutes);

            }
            <br />You have been parked for @Math.Ceiling(timePared.TotalMinutes) minutes.

        </dd>
        <dt>Your parking fee is</dt>
        <dd>@totalCosts svKr;</dd>
    </dl>

</div>
<p>
    Welcome back!
</p>
