@model IEnumerable<PinkGarage.Models.VehicleType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CityGarageLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="createtype">

        <img title="Register" src="~/Image/Vehicle Type.jpg" onclick="@("window.location.href='" + @Url.Action("Create", "VehicleTypes") + "'");" />
        <p><b>New Vehicle Type</b></p>
    </div>
    <div class="IndexSearch">
        <p>
            <b>Type :</b> @Html.TextBox("SearchString")
            <input type="submit" value="search" />
            <input type="button" value="Show all" onclick="@("window.location.href='" + @Url.Action("Index", "VehicleTypes") + "'");" />
        </p>
    </div>
}
<br />
<div>
    @ViewBag.Error
</div>
<br />
<table class="table">
    <tr>
        <th>
            Vehicle Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleTypeName)
            </td>
            <td>
               @Html.ActionLink("Details", "Details", new { id = item.VehicleTypeId })
            </td>
        </tr>
    }

</table>
