@model PinkGarage.Models.Member

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CityGarageLayout.cshtml";
}

<h2>Details</h2>
@{
    var memberName = Model.FName + " " + Model.LName;
}


<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Member Name 

        <dd>

            @memberName
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>


 @*<h4><i>Details of the Vehicle @ViewBag.VehicleRegNum</i></h4>*@
    
   
<table class="table">
    <tr>
        
        <th>Registration Number</th>
        <th>Type of Vehicle</th>
        <th>CheckIntime</th>
    </tr>

        @if (Model.Vehicle.Count() == 0)
        {
            <tr>
                <td>
                    Sorry! No vehicles of this type is found in the garage
                </td>
            </tr>
        }

   
  
     @foreach (var item in Model.Vehicle)
     {
        <tr>
            @*@{
               
                var memberName = item.Member.FName + " " + item.Member.LName;
            }*@

            


            <td>
                @Html.DisplayFor(modelItem => item.RegNum)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInTime)
            </td>
        </tr>
      }

  
</table>

    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.MemberId }) |*@
        @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
