@model IEnumerable<PinkGarage.Models.Member>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CityGarageLayout.cshtml";
}

@*<h2>Index</h2>*@

@using (Html.BeginForm())
{
    <div class="createregister">

        <img title="Register" src="~/Image/Register.jpg" onclick="@("window.location.href='" + @Url.Action("Create", "Members") + "'");" />
        <p><b>Register New Member</b></p>
    </div>
    <p>
        
        <b>Search Name: </b>@Html.TextBox("SearchFName")
        <input type="submit" value="Filter" />
        <input type="button" value="Show all" onclick="@("window.location.href='" + @Url.Action("Index", "Members") + "'");" />
</p> 
}
<br />
<div>
    @ViewBag.Error
</div>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MemberId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MemberId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MemberId })
                    </td>
                </tr>
            }

        </table>
