@model PinkGarage.Models.Vehicle

@{
    ViewBag.Title = "Vehicle details";
    Layout = "~/Views/Shared/_CityGarageLayout.cshtml";
}

<h2>Vehicle Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.RegNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.VehicleTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.VehicleTypeName)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)<hr />
        </dd>
        <dt>
            Owner
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.FName) @Html.DisplayFor(model => model.Member.LName)<br />
            @Html.DisplayFor(model => model.Member.Address)<br />
            @Html.DisplayFor(model => model.Member.PhoneNumber)<hr />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back", null, null, null, new { href = Request.UrlReferrer })
</p>
