@model IEnumerable<PinkGarage.Models.Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CityGarageLayout.cshtml";
}

<h2>Vehicles parked in Citygarage</h2>

<div class="searchlist">
    <p>
        @Html.ActionLink("Check in new vehicle", "Create")
    </p></div>

@using(Html.BeginForm()) {
    <div class="IndexSearch">
        <p>
            <b>RegNumb :</b> @Html.TextBox("SearchString")
            <input type="submit" value="search" />
            <input type="button" value="Show all" onclick="@("window.location.href='" + @Url.Action("Index", "Vehicles") + "'");" />
        </p>
    </div>

}
<br />
<div>
    @ViewBag.Error
</div>
<br />


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNum)
            </th>
             <th>
                Type of Vehicle
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                Check in
            </th>
            <th></th>
        </tr>

        @foreach(var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNum)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.VehicleType.VehicleTypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.VehicleID }) |
                    @Html.ActionLink("Check out", "Checkout", new { id = item.VehicleID })
                </td>
            </tr>
        }

    </table>
